<div>
  <%= repository.name %>
  <%= repository.owner %>
</div>

<% repository.commits.each do |commit| %>
  <div class='commit'>
    <p><%= commit.author %></p>
    <p><%= commit.author_url %></p>
    <p><%= commit.date %></p>
  </div>
<% end %>
